= form_for @trial_party, html: {class: 'form-horizontal'} do |f|
  - @trial_party.names.each_with_index do |name, i|
    .form-group
      .col-sm-2
        = f.label "names[#{i}]", "ポケモン#{i + 1}", class: 'control-label'
      .col-sm-10
        = f.text_field "names[#{i}]", name: "#{f.object_name}[names][]", value: name, class: 'form-control poke-input'
  = submit_tag '決定', class: 'btn btn-lg btn-primary'
  .col-sm-10#autocomplete-appended

= pokemon_autocomplete('.poke-input', '#autocomplete-appended')
